#home{
    background-color: var(--color-primary-1);
    position: relative;
    min-height: 39vh; 
}

.containersuco{
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start; 
}
.imgsuco{
    position: absolute;
    bottom: 0;
    right: 60px;
    height: 550px;
    z-index: 10; 
}
.container-text{
margin-left: 200px;
margin-top: -100px;

}
.h1{
    color:#ce639c;
    font-size: 60px;
}

.mini-text{
  color: aliceblue;
  font-size: 20px;
}

.container-button{
    margin-left: 200px;
    margin-top: 25px;
display: flex;
gap: 50px;

}
.entrar{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ce639c;
    background-color: aliceblue;
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none; 
}

.cadastre{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ce639c;
    background-color: aliceblue;
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.entrar:hover{
    background-color: #543787;
    color: white;
    transform: translateY(-7px);
}
.entrar:active{
    transform: translateY(-1px);
}
.cadastre:hover{
    background-color: #543787;
    color: white;
    transform: translateY(-7px);
}
.cadastre:active{
    transform: translateY(-1px);
}

.container-folha{
    position: absolute;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 10px;  
    margin-top: -140px;
    margin-left: 500px;
    
}
.folha{
    width: 700px;
}
